/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v23-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v23-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v23-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v23-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v23-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v23-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v23-latin_cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v23-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v23-latin_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v23-latin_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v23-latin_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v23-latin_cyrillic-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v23-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v23-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v23-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v23-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v23-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v23-latin_cyrillic-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}


/* Обнуление */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* Общие стили страницы */

body {
	font-family: 'Open Sans';
	background-color: black;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}
header {
	background-color: #800080;
	color: #fff;
}
.homework {
	text-align: center;
	padding: 20px;
	font-size: 28px;
}
.homework p {
	font-style: italic;
	display: inline-block;
}


main {
	color: #fff;
	margin-bottom: 20px;
}
h1 {
	text-align: center;
	padding: 20px;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 1.4;
}

h2 {
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 32px;
	margin-bottom: 18px;
	text-align: center;
}


.text {
	font-size: 1px;
}

.img {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.copy {
	margin: 20px 0 0 0;
}

footer {
	background-color: #778d;
	text-align: center;
	padding: 32px;
	font-size: 18px;
}

.free {
	text-align: center;
	font-size: 18px;
	color: #fff;
}
.link-item {
	margin: 20px 0 0 0;
}
.link {
	font-size: 40px;
	margin: 20px 0 0 0;
	color: #fff;
}


/* LESSON 8*/

.title {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.7;
	letter-spacing: 6px;
}
.block {
	box-shadow: 0px 0px 25px 25px #FF1493;
	border-radius: 20px;
	overflow: hidden;
}

.name {
	text-align: center;
	margin: 0 0 40px 0;
}
.hover {
	margin: 100px 0 100px 0;
}
.one {
	margin: 0 0 40px 0;
	text-align: center;
}
.one div {
	margin: 0 0 100px 0;
	font-size: 30px;
}
.hover-1 a {
	border: 2px solid #FFB6C1;
	padding: 20px;
	color: #FFB6C1;
	border-radius: 20px;
}
.hover-2 a {
	padding: 20px;
	border: 2px solid #fff;
	border-radius: 30px;
}
.hover-3 a {
	padding: 20px;
	border: 2px solid #fff;
}
.hover-4 a {
	padding: 20px;
	border: 2px solid #fff;
}
.hover-1 a:hover {
	background-color: #FFB6C1;
	color: #000;
}
.hover-2 a:hover {
	background-color: #FFB6C1;
	color: #000;
	opacity: 0.5;

}
.hover-3 a:hover {
	background-color: #FFB6C1;
	color: #fff;
	border-radius: 10px;
}
.hover-4 a:hover {
	background-color: #fff;
	color: #000;
	border-radius: 10px;
}

.active {
	margin: 100px 0 100px 0;
}

.name-1 {
	text-align: center;
	margin: 0 0 40px 0;
}
.two {
	margin: 0 0 40px 0;
	text-align: center;
}
.two div {
	margin: 0 0 100px 0;
	font-size: 30px;
}
.two a {
	background-color: #FFB6C1;
	color: #fff;
	border-radius: 10px;
	display: inline-block;
	width: 300px;
	line-height: 2.4;
	overflow: hidden;
}

.active-1 a:hover,
.active-2 a:hover,
.active-3 a:hover,
.active-4 a:hover {
	background-color: #000;
	outline: 2px solid #FFB6C1;
	color: #FFB6C1;
	text-transform: uppercase;
}
.active-1 a:active {
	background-color: red;
}
.active-2 a:active {
	background-color: #FFB6C1;
	color: #333;
}
.active-3 a:active {
	background-color: #FFA07A;
}
.active-4 a:active {
	background-color: #FF8C00;
	outline: 6px solid #00FF00;
}

.active-1 a:focus,
.active-2 a:focus,
.active-3 a:focus,
.active-4 a:focus {
	color: #008B8B;
}

.active-1 a:visited {
	background-color: #00FF00;
}
.active-2 a:visited {
	background-color: #8FBC8F;
}
.active-3 a:visited {
	background-color: #008080;
}
.active-4 a:visited {
	background-color: #800080;
}

.first {
	margin: 0px 0 100px 0;
}

.first-1 {
	margin: 0 0 50px 0;
	padding: 20px;
}
.first-2 {
	margin: 0 0 50px 0;
	padding: 20px;
}
.first-3 {
	margin: 0 0 50px 0;
	padding: 20px;
}

.first p {
	margin: 0 0 30px 0;
	font-size: 20px;
	letter-spacing: 4px;
}
.first-1 p:first-child {
	color: #FF0000;
}
.first-1 p:last-child {
	color: #6A5ACD;
}
.first-1 p:nth-child(2) {
	text-decoration: line-through;
}
.first-2 *:first-child {
	color: red;
}
.first-2 p:first-of-type {
	color: #880000;
} 
.first-2 p:last-of-type {
	color: blue;
	text-decoration: underline;
}
.first-2 :nth-child(4) {
	color: #822222;
}
.first-3 :nth-child(even) {
	color: #008B8B;
}
.first-3 *:not(:last-child) {
	text-decoration: line-through;
}
.letter, .line {
	padding: 20px;
}
.letter ::first-letter {
	font-size: 70px;
	color: #C71585;
}
.line ::first-line {
	color: #C71585;
}


.first-4, .first-5 {
	padding: 20px;
	border-top: 2px solid red;
}
.first-4 a, .first-5 a {
	text-decoration: none;
	font-size: 18px;
	color: #FF4500;
	display: inline-block;
}
.first-4 p {
	margin: 0 0 100px 0;
}
.first-4 a {
	margin: 50px;
}
.first-4 *:last-child {
	margin: 0 0 0 0;
}

.first-5 p {
	margin: 0 0 100px 0;
}
.first-5 a {
	margin: 50px;
}
.first-5 *:not(:last-child) {
	margin: 0 0 70px 0;
}

.before {
	margin: 0px 0 100px 0;
}
.block {}
.after {
	text-align: center;
}
h3 {
	font-size: 36px;
	margin: 0 0 30px 0;
	color: #32CD32;
}

.before-1 {
	margin: 0 0 50px 0;
	padding: 20px;
}
.after-2 {
	margin: 0 0 50px 0;
	padding: 20px;
}
.before-1, li {
	font-size: 30px;
	margin: 0 0 20px 30px;
}
.after-2, li {
	font-size: 30px;
	margin: 0 0 20px 30px;
}

.before-1 li {
	padding: 0px 0px 0px 30px;
	list-style: none;
	margin: 20px 0 0 0;
}
.before-1 li::before {
	content: "";
	width: 128px;
	height: 128px;
	display: inline-block;
	background: url("../img/icon.png");
	background-color: red;
	vertical-align: top;
	margin: 0px 20px 0px -30px;
	border-radius: 50%;
	list-style: none;
}
.after-2 li {
	list-style: none;
}
.after-2 li :hover {
	color: #EE0000;
}
.list {
	display: inline-block;
}
.list::after {
	content: "";
	width: 165%;
	height: 128px;
	display: inline-block;
	border-top: 4px solid #BBBBBB;
}
.list-item img {
	display: inline-block;
	margin: -50% 0% 0% 150%;
}